﻿@using EpamLab.ResaleTickets.WEB.Models
@model Dictionary<string, EventModelView>
<h2 align="center">@Localizer["Events"]</h2>

@foreach (string i in ViewBag.Keys)
{
<div class="content_box">
    
    <a href="#" target="_parent"><img class="image_wrapper image_fl" src="~/img/posters/@Model[i].Poster"></a>
    <h5>@Model[i].Name</h5>
    <p>@Model[i].City<br />@Model[i].Venue, @Model[i].Address</p>
         
            @foreach (IdDate date in @Model[i].Date)
            {
                <a href="\Home\Tickets?eventId=@date.Id">@date.Date.ToString("yyyy/MM/dd >>> hh:mm")</a>
            }
        
   
</div>

}


