﻿@using EpamLab.ResaleTickets.WEB.Models
@model IEnumerable<TicketModelView>
@using EpamLab.ResaleTickets.WEB.App_Code


<div class="content_table">
    <table id="EventsBox">
        <tr>
            <td class="event"><img src="~/img/posters/@ViewBag.ev.Poster" /></td>
            <td class="event" valign="top">
                <p class="eventDiscription">
                    <h2>@ViewBag.ev.Name</h2><br />
                    @ViewBag.ev.Description
                    <br />
                </p><p style="color: firebrick; font-size:150%">@ViewBag.ev.Venue @ViewBag.ev.City, @ViewBag.ev.Address <br />@ViewBag.ev.Date[0].Date</p>
     
            </td>
        </tr>
    </table>

    <div id="tickets">
        @ListHelper.CreateTicketRows(Html, "Tickets", Model, Localizer)
    </div>
</div>

   

