﻿@model EpamLab.ResaleTickets.WEB.Models.Account.LoginModel

<h2>@Localizer["LoginToSite"]</h2>
<a asp-action="Register" asp-controller="Account">@Localizer["Registration"]</a>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)


    <legend>@Localizer["EnterLoginPassword"]</legend>

        <fieldset>
            @Html.LabelFor(model => model.Login)

            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
            <br>
            @Html.LabelFor(model => model.Password)

            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)

            <p>
                <input type="submit" value="@Localizer["SignIn"].Value" />
            </p>
        </fieldset>
}