﻿@using EpamLab.ResaleTickets.WEB.Models
@model UserModelView
<table>
    <tr>
        <td>@Localizer["Id"]: </td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>@Localizer["FirstName"]: </td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>@Localizer["LastName"]: </td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>@Localizer["Login"]: </td>
        <td>@Model.Login</td>
    </tr>
    <tr>
        <td>@Localizer["Address"]: </td>
        <td>@Model.Adress</td>
    </tr>
    <tr>
        <td>@Localizer["Localization"]: </td>
        <td>@Model.Localization</td>
    </tr>
    <tr>
        <td>@Localizer["Phone"]: </td>
        <td>@Model.PhoneNumber</td>
    </tr>
</table>

