/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em; 
	background-color: #010206;
	/*background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;*/
	background-position: top
}

a, a:link, a:visited { color: #999999; text-decoration: underline; }
a:hover { color: #00CCFF; text-decoration: none; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal }
h1 { font-size: 34px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 24px; margin: 0 0 30px 0; padding: 0; }
h3 { font-size: 21px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0; color: #d82b82; }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.clear { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 3px solid #35373b; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 30px 0 0 ; width: 150px;}
.image_fr { float: right; margin: 3px 0 0 30px }

blockquote { font-style: italic; margin-left: 10px}
cite { font-weight: bold; color:#ccc }
cite span { color: #ccc }
em { color: #fff; font-weight: 400 }

.tmo_list { margin: 0 0 0 20px; padding: 0; list-style: none }
.tmo_list li { color: #666666; margin:0 0 5px; padding: 3px 0 3px 15px; background: url(../images/list.jpg) no-repeat scroll 0 10px }
.tmo_list li a { color: #666666; text-decoration: underline }
.tmo_list li a:hover { color: #00CCFF; }

#templatemo_wrapper { width: 1020px; margin: 0 auto }

#templatemo_header { width: 960px; padding: 0 30px; height: 369px; background: url(../images/header.jpg) no-repeat }

#templatemo_header a {
	float: left;
	display: block;
	width: 300px;
	height: 150px;
	margin: 140px 0 0 110px; 
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	background: url(../images/logo.png) no-repeat top left;
	text-indent: -10000px;
}

/* menu */

#templatemo_menu {
	width: 960px;
	height: 53px;
	padding: 0 25px;
	margin-bottom: 30px;
    background: url(../images/menu.jpg) no-repeat;
}

#templatemo_menu ul {
	height: 52px;
	margin: 0;
	padding: 1px 0 0 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 37px;
	padding: 15px 52px 0 50px;
	font-size: 16px;
	color: #FFFFFF;	
	text-align: center;
	text-decoration: none;
	background: url(../images/divider.jpg) center right no-repeat;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #0eb0ff;
}

#templatemo_menu ul .last { background: none; padding-right: 52px }
/* end of menu */

#templatemo_main {
	width: 960px;
	padding: 30px;
}

#templatemo_content {
	width: 960px;
    display: block;
    clear: both;
    
}

.content_box { margin-left:30px; margin-bottom: 10px; width:450px; height:250px; float:left;}
.content_table {display:block; width:960px; min-height:100px; }
.col_w250 { width: 250px }
.last_box { margin: 0 }

#templatemo_sidebar {
	float: right;
	width: 320px
}

.sidebar_box {
	margin-bottom: 50px 
}
.last_box { margin: 0 }

#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 70px 30px 20px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: url(../images/footer.jpg) bottom center no-repeat;
}

#templatemo_footer a { color: #fff; }

 #tickets table {
    width: 90%;
    }
#tickets th {
  font-size: 13px;
  font-weight: normal;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}

#tickets td {
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 8px;
  text-align: center;
}
#tickets tr:hover td {
  background: #ccddff; 
}
#tickets td.poster img{
    max-height:100px;
}
#EventsBox{
    width: 960px;

}
.event {
        display: block;
        vertical-align: top;
        background-color: rgba(0, 0, 0,0.3);
        width:300px;
        display: inline-block;
        border: 1px solid black;
    }
 .poster {
        text-align:center;
        height:300px;
    }
     
 .event img{
         max-width:300px;
         max-height:300px;
     }

