﻿@using EpamLab.ResaleTickets.WEB.Models
@model IEnumerable<OrderModelView>
<div id="tickets" class="container" align="center">
    <h1>@Localizer["MyOrders"]</h1>
    <table>
        <tr>
            <th>@Localizer["Poster"]</th>
            <th>@Localizer["EventName"]</th>
            <th>@Localizer["Date"]</th>
            <th>@Localizer["City"]</th>
            <th>@Localizer["Address"]</th>
            <th>@Localizer["SellerNote"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Status"]</th>
        </tr>
        @foreach (OrderModelView e in Model)
        {
            <tr>
                <td class="poster"><img src="~/img/posters/@e.TicketSell.Event.Poster" height="100"></td>
                <td>@e.TicketSell.Event.Name</td>
                <td>@e.TicketSell.Event.Date[0].Date</td>
                <td>@e.TicketSell.Event.City</td>
                <td>@e.TicketSell.Event.Venue, @e.TicketSell.Event.Address</td>

                <td>@e.TicketSell.Note</td>
                <td>@e.TicketSell.Price</td>
                <td>@e.Status</td>

            </tr>
        }
    </table>
</div>