﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="templatemo_wrapper">
        <header>
            <div id="templatemo_header">
                <a href="#" target="_parent">Resale of Tickets</a>
            </div>
            @await Html.PartialAsync("_MenuPartial")
        </header>
        <div id="templatemo_content">
            @RenderBody()
        </div>
        <footer id="footer">
            <div id="templatemo_footer">
                Copyright © 2016-2017 EpamLab by Zhukau Siarhei
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </footer>
    </div>
</body>
</html>
