﻿    @if (User.Identity.Name == null)
    {
        @Html.ActionLink(@Localizer["SingIn"].Value, "Login", "Account") 
        <span>|</span>
        @Html.ActionLink(@Localizer["Registration"].Value, "Register", "Account")
    }
    else
    {
        @Html.ActionLink(User.Identity.Name, "UserInfo", "Account")
        <span>|</span>
        @Html.ActionLink(@Localizer["LogOut"].Value, "Logout", "Account")
    }

