﻿<nav>
    <div id="templatemo_menu">
        <ul>
            <li><a href="/Home/Index">@Localizer["Events"]</a></li>
            @if ((User.Identity.Name) != null)
            {
                <li><a href="/User/Tickets">@Localizer["MyTickets"] </a></li>
                <li class="menu_link"><a href="/User/Orders">@Localizer["MyOrders"]</a></li>
                <li class="menu_link"><a href="/Account/UserInfo">@Localizer["UserInfo"]</a></li>
            }
            <li>@await Html.PartialAsync("_LoginPartial")</li>
        </ul>
    </div>
</nav>
